@font-face{
    font-family: poppins;
    src:url(./assets/poppins/Poppins-Light.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: poppins, sans-serif;
}
#logo{
    width: 50px;
    height: 50px;

}
h1{
    font-size: 1.5rem;
}

h2{
    margin-bottom: 2ch;
    text-align: center;
}
p{
    margin-bottom: 2ch;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li{
    margin-top: 2ch;
}
.first-section{
    display: flex;
    position: relative;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    background: rgba(33, 33, 33, 0.5);
}
#myVideo {
position : absolute;
  right: 0;
  top: 0;
  min-width: 100%;
  z-index: -1;
  height: 100vh;
}
.video-text{
    color:white;
    max-width: 30ch;
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    color:black;
    padding: 1.5ch 2ch;
    z-index: 10;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0;
    
}
header nav{
    display: none;
}

#nav-cross{
    width: 34px;
    height: 34px;
    align-self: flex-end;
    display: none;
}
header nav ul{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 3ch;
    
}
header nav ul a {
    color: black;
}
header nav.open{
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: white;
}
header nav.open ul{
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header nav.open ul #nav-cross{
    display: block;
    margin-right: 2ch;
}
.burger-menu{
    width: 34px;
    height: 34px;
    
}

.first-section button,
.last-section button{
    background-color: white;
    color: black;
    padding: 1ch 2ch;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-emphasis: bold;
    font-weight: bold;
    min-width: 20ch;
    border: solid 2px black;
    margin-bottom: 1ch;
}


.icon{
    width: 2.5ch;
    height: 2.5ch;
    margin-right: 1ch;
}
#scrollDownBtn{
    padding: 0;
    position: absolute;
    bottom: 2ch;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    border-radius: 50%;
    text-emphasis: bold;
    font-weight: bold;
    min-width: 0ch;
    width: 30px;
    height: 30px;
    margin-right: 0ch;
}
#scrollDownBtn img{
    width: 24px;
    height: 24px;
}
.other-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2ch;
    margin-top: 7ch;
    overflow: hidden;
    text-align: center;
}

.polaroid-card{
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 1ch;
    display: block;
    width: 267px;
    height: 324px;
    transform: rotate(4deg);
}

.polaroid-image{
    position: absolute;
    top:16px;
    left:16px;
    width: 235px;
    height: 235px;
    z-index: 2;
    border: 1px solid black;
}
.polaroid-border{
    position: absolute;
    top:0;
    left:0;
    width: 267px;
    height: 324px;
    background-color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.polaroid-card-small{
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 1ch;
    display: block;
    width: calc(8.9*15px);
    height: calc(10.8*15px);
    transform: rotate(4deg);
}

.polaroid-image-small{
    position: absolute;
    top: 8px;
    left:8px;
    width: calc(7.8 * 15px + 1px);
    height: calc(7.8 * 15px + 1px);
    z-index: 2;
    border: 1px solid black;
}
.polaroid-border-small{
    position: absolute;
    top:0;
    left:0;
    width: calc(8.9*15px);
    height: calc(10.8*15px);
    background-color: tomato;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}



.polaroid-text{
    position: absolute;
    bottom: 8px;
    left: 16.5px;
    height: 45px;
    max-width: 234px;
    /* white-space: pre-wrap; */
    display: block;
    overflow: hidden;
    /* background: pink; */
    font-size: 12px;
    text-align: center;
}


#go-kart-small-polaroid-1 {
    transform: rotate(-4deg);
}
#spotted-small-polaroid-1 {
    transform: rotate(2deg);
}
#paintball-small-polaroid-1 {
    transform: rotate(-8deg);
}
.grid2{
    display: grid;
    grid-template-columns: 50% auto;
    gap: 2ch;
    text-overflow: hidden;
    padding: 2ch;
    justify-content: space-evenly;
    align-items: center;
}
.grid2 p{
    
}
.chat-grid{
    grid-template-columns: 50% 50%;
}

.telephon-screen{
    max-width: 350px;
    width: 100%;
}
.chat-grid-element{
    position: relative;    
}
.falling-polaroid{
    transform: scale3d(4, 4, 5) rotate(60deg);
    transition: transform 0.3s ease-in-out;
    position:absolute;
    top: calc(50%);
    left: calc(50% - 70px);
    visibility: hidden;
    z-index: 3;

}
.falling-polaroid.activated{
    visibility: visible;
    transform: scale3d(2, 2, 5) rotate(-24deg);
    
}
#chat-polaroid-spotted.falling-polaroid{
    top: calc(50% - 150px);
    left: calc(50% - 70px);
    transform: scale3d(4, 4, 5) rotate(160deg);
}

#chat-polaroid-spotted.falling-polaroid.activated{
    visibility: visible;
    transform: scale3d(2, 2, 5) rotate(15deg);
}
#chat-polaroid-paintball.falling-polaroid{
    top: calc(50% - 100px);
    left: calc(50% - 70px);
    transform: scale3d(4, 4, 5) rotate(80deg);
}

#chat-polaroid-paintball.falling-polaroid.activated{
    visibility: visible;
    transform: scale3d(2, 2, 5) rotate(-10deg);
}


.carosello-image{
    width: 250px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.carosello{
    display: flex;
    overflow-x: scroll;
    gap: 2ch;
    padding: 1ch;

    max-width: 80vW;
}


footer{
    background: black;
    color: white;
    text-align: center;
    padding: 4ch;
    margin-top: 2ch;
}
footer a{
    color: white;
    text-decoration: underline;
}


@media screen and (min-width: 768px){
    header{
        justify-content: start;
        gap:5ch;
        align-items: center;
    }
    header nav{
        display: block;
    }
    .burger-menu, #nav-cross{
        display: none;
    }
    header nav li{
        margin: 0;
    }
    .first-section{
        text-align: center;
        padding: 0 5ch;
    }

    .other-section{
        margin-top: 10ch;
    }
    .grid2{
        grid-template-columns: 50% auto;
    }
    
    #go-kart-small-polaroid-1 {
        transform: rotate(-4deg) scale(1.4);
    }
    #spotted-small-polaroid-1 {
        transform: rotate(2deg) scale(1.4);
    }
    #paintball-small-polaroid-1 {
        transform: rotate(-8deg) scale(1.4);
    }
    button:hover{
        cursor: pointer;
    }
    .chat-grid{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 768px) and (max-width: 1100px){
    #chat3{
        display: none;
    }
}
@media screen and (max-width: 768px){
    #chat3{
        display: none;
    }
    #chat2{
        display: none;
    }
}